In [1]:
# operations: melt, merge, pivot using Tips dataset
import pandas as pd

tips = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')

In [2]:
print(tips.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
# melt
melted = pd.melt(tips, id_vars=['sex', 'smoker'], value_vars=['total_bill', 'tip'], var_name='charge_type', value_name='amount')
print(melted.head())

      sex smoker charge_type  amount
0  Female     No  total_bill   16.99
1    Male     No  total_bill   10.34
2    Male     No  total_bill   21.01
3    Male     No  total_bill   23.68
4  Female     No  total_bill   24.59

In [4]:
# merge (create a simple mapping DataFrame)
smoker_map = pd.DataFrame({'smoker': ['Yes', 'No'], 'smoker_status': ['Smoker', 'Non-Smoker']})
merged = pd.merge(melted, smoker_map, on='smoker', how='left')
print(merged.head())

      sex smoker charge_type  amount smoker_status
0  Female     No  total_bill   16.99    Non-Smoker
1    Male     No  total_bill   10.34    Non-Smoker
2    Male     No  total_bill   21.01    Non-Smoker
3    Male     No  total_bill   23.68    Non-Smoker
4  Female     No  total_bill   24.59    Non-Smoker

In [5]:
# pivot
pivoted = merged.pivot_table(index='sex', columns='smoker_status', values='amount', aggfunc='mean')
print(pivoted)

smoker_status  Non-Smoker     Smoker
sex
Female          10.439352  10.454697
Male            11.452320  12.667833